*
{
    margin: 0;
    padding: 0;
}
body
{
    position: relative;
    background-size: cover; 
    background-image: url(./bg.jpg);
}
.nav1{
 height: 3.5rem;   
display: flex;
justify-content: space-between;
background-color: rgb(74, 67, 67);
}
.p1{
    margin-left: 4rem;
    color: blue;
}
.p7{
    margin-right: 3rem;
}

.nav2{
display: flex;
justify-content: ;
height: 2.5rem;
background-color: rgb(7, 7, 60);
}
a{
    
color: white;
    margin-left: 10rem;
    font-size: 10px;
}
.img{
    display: flex;
    position: absolute;
    left: 70rem;
    
}
img{
    margin: 4px;
    width: 20px;
    height: 20px;
}


.man
{
    background-color: transparent;
}
h1
{
    position: absolute;
    top: 25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13rem;
    color: rgb(61, 61, 61);
}
